@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Matrix.cshtml";
}
<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to DashBoard" class="tip-bottom"><i class="icon-home"></i> DashBoard</a> <a href="/Blog/Users" class="current">Users</a> </div>
</div>
<!--End-breadcrumbs-->

